*,
body {
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  flex-flow: column;
  min-height: 100vh;
  background-image: url(./assets/casino.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

.App .content {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 122px);
  animation: fadeIn 0.5s;
  padding: 20px;
}