.header-buttons {
    display: flex;
}

.button {
    border: 1px solid rgb(154, 23, 19);
    width: 80px;
    height: 30px;
    margin-right: 20px;
    border-radius: 4px;
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: rgb(24, 26, 27);
    color: rgb(231, 67, 63);
    text-align: center;
}

.button.active {
    background-color: rgb(171, 25, 21);
    border-color: rgb(48, 52, 54);
    border: 1px solid black;
    color: white;
}

.button:hover {
    background-color: rgb(171, 25, 21);
    border-color: rgb(48, 52, 54);
    border: 1px solid black;
    color: white;
    transition-property: background-color;
    transition-duration: 0.5s;
    cursor: pointer;
}

.button.active:hover {
    background-color: rgb(24, 26, 27);
    color: rgb(231, 67, 63);
    border: 1px solid rgb(154, 23, 19);
}

.button:last-of-type {
    margin-right: 0;
}

.button .title {
    font-size: 18px;
}

@media only screen and (max-width: 569px) {
    .header-buttons {
      display: none;
    }
  }
