.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    padding: 20px;
    background: rgba(0, 0,0,0.5);
    border-bottom: 2px solid rgb(154, 23, 19);
}

.header-container .title {
    font-size: 28px;
    padding: 0 15px;
    text-align: center;
}

.header-container .egt-icon {
    height: 65px;
    width: 180px;
    border: 1px solid black;
    border-radius: 10px;
}

.header-container .header-menu-icon {
    height: 35px;
    width: 35px;
    background-color: rgb(24, 26, 27);
    color: rgb(231, 67, 63);
}

@media (min-width: 570px) {
    .header-menu-icon {
      display: none;
    }
  }