.slot-container {
    margin: 2px;
    background: rgb(193,193,193);
    border: 1px solid black;
    align-items: center;
    display: flex;
    justify-content: center;
    border-radius: 4px;
    cursor: pointer;

}

.slot-container.selected {
    background: rgba(153, 0, 0, 0.9);
}

.slot-container.selected .slot-number,
.slot-container .slot-number {
    color: var(--color-black);
    font-family: bold;

}

.slot-container.selected {
    border: 1px solid var(--color-red)
}

.slot-container.selected .slot-number {
    color: var(--color-white);
}

.slot-container:not(.selected).disabled {
    background: rgba(153, 0, 0, 0.5);
    pointer-events: none;
}