.final-countdown-wrapper {
    width: 40%;
    height: 60%;
    background: var(--color-white);
    border-radius: 4px;
}

.slots-container {
    display: grid;
    grid-template-columns: repeat(10,minmax(35px, 1fr));
    grid-template-rows: repeat(8,minmax(35px, 1fr));
    grid-gap: 10px;
    width: 80%;
    height: 70%;
    background: var(--color-black);
    padding: 20px 20px;
}