.final-countdown-wrapper {
    width: 50%;
    background: var(--color-white);
    border-radius: 4px;
    background: var(--color-black);
    position: relative;
}

.slots-container {
    display: grid;
    grid-template-columns: repeat(10,minmax(35px, 1fr));
    grid-template-rows: repeat(8,minmax(35px, 1fr));
    grid-gap: 10px;
    width: 80%;
    height: 50%;
    padding: 20px 20px;
}

.final-countdown-footer-container {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-evenly;
    border-top: 2px solid var(--color-1);
    border-bottom: 2px solid var(--color-1);
    padding: 30px 20px;

}
.final-countdown-footer-container .field-container {
    width: 100px;
    height: 100px;
    background: var(--color-red);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    border: none;
}

.final-countdown-footer-container .field-container .field-number {
    color: var(--color-black);
    font-size: 18px;
    font-weight: bold;
    background: var(--color-red);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: none;
    width: 100%;
    min-height: 50%;
}

.final-countdown-footer-container .field-container .title {
    width: calc(100% - 10px);
    min-height: calc(50% - 10px);
    color: var(--color-white);
    border: none;
    background: var(--color-black);
    padding: 5px;
    display: flex;
    justify-content: center;
}

@media (max-width: 1400px) {
    .final-countdown-wrapper .timer-container {
        width: 60px;
        height: 40px;
    }
}

@media (max-width: 1200px) {
    .final-countdown-wrapper  {
        width: 70%;
    }
}

@media (max-width: 850px) {
    .final-countdown-wrapper .timer-container {
        width: 50px;
        height: 30px;
    }

    .final-countdown-wrapper  {
        width: 80%;
    }
}

@media (max-width: 730px) {


    .final-countdown-wrapper  {
        width: 90%;
    }

    .slots-container {
        grid-template-columns: repeat(10,minmax(30px, 1fr));
        grid-template-rows: repeat(8,minmax(30px, 1fr));
    }

    .final-countdown-footer-container .field-container {
        width: 80px;
        height: 80px;
    }

    .field-container .title {
        font-size: 13px;
    }
}

@media (max-width: 565px) {
    .final-countdown-wrapper .timer-container {
        width: 50px;
        height: 30px;
        top: -50px;
        right: 40%;
    }

    .final-countdown-wrapper  {
        width: 80%;
    }

    .slots-container {
        grid-template-columns: repeat(10,minmax(25px, 1fr));
        grid-template-rows: repeat(8,minmax(25px, 1fr));
        grid-gap: 5px;
        padding-top: 10px;
    }
}

@media (max-width: 500px) {
    .final-countdown-wrapper .timer-container {
        width: 50px;
        height: 30px;
        top: -50px;
        right: 40%;
    }
    .final-countdown-wrapper  {
        width: 100%;
    }

    .final-countdown-footer-container .field-container {
        width: 60px;
        height: 60px;
    }

    .final-countdown-footer-container .field-container .title {
        font-size: 9px;
    }
}

@media (max-height: 1000px) {
    .final-countdown-wrapper .timer-container {
        width: 40px;
        height: 20px;
        top: 10px;
        right: 10px;
    }

    .field-container .title {
        font-size: 13px;
    }
}
/*Comments*/
.final-countdown-comments-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: var(--color-black);
    padding: 0 20px;
    animation: fadeIn 0.5s;
}

.final-countdown-comments-container .comment-container {
    padding: 5px 0;
    position: relative;
    display: flex;
}

.final-countdown-comments-container .comment-container::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 10px;
    width: calc(100% - 20px);
    height: 1px;
    background: rgba(255, 255, 255, 0.2);
}

.final-countdown-comments-container .comment-container:last-of-type::after {
    content: none;
}

.final-countdown-comments-container .comment-container .comments-content,
.final-countdown-comments-container .comment-container .comment-id {
    color: var(--color-white)
}

.final-countdown-comments-container .comment-container .comment-id {
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 7px;
}
/*Comments*/

/*Buttons*/
.final-countdown-buttons-container {
    height: 50%;
    width: 100%;
    display: flex;
}

.final-countdown-buttons-content {
    display: flex;
    background: var(--color-white);
}

.final-countdown-buttons-content .final-countdown-button-container {
    width: 20px;
    display: flex;
    flex-shrink: 0;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.final-countdown-buttons-content .final-countdown-button-container:hover {
    background: rgba(0, 0, 0, 0.5);
    cursor: pointer;
}
/*Buttons*/
